# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files
data/processed/
models/
*.csv
*.tsv

# Logs
*.log

# Hidden config files
.env
